@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for hidden scroll effect */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.glass-panel {
    background: rgba(36, 30, 25, 0.85);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
